version: "3"

services:
  server:
    container_name: bookmark_server
    build: 
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "127.0.0.1:8081:8081"
    environment:
      POSTGRES_USER: bookmark
      POSTGRES_PASSWORD: password
      POSTGRES_HOST: bookmark_db
      POSTGRES_PORT: 5432
    volumes:
      - ./backend:/home/server
    tty: true
    depends_on: 
      - db
    restart: always
  
  db:
    container_name: bookmark_db
    image: postgres:14.2-alpine
    ports: 
      - 6432:6432
    volumes:
      - db:/var/lib/postgresql/data
      - ./db/init:/docker-entrypoint-initdb.d  
    environment:
      POSTGRES_USER: bookmark
      POSTGRES_PASSWORD: password
      TZ: "Asia/Tokyo"
    restart: always

volumes:
  db:
    driver: local