name: Base test

on:
  push:
    branches:
      - main

jobs:
  integrate:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: compose-up
        run: docker-compose up -d
      - name: test
        run: docker exec bookmark_server go test ./server/ -v -run TestIntegrate*
  unit:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: compose-up
        run: docker-compose up -d
      - name: test
        run: docker exec bookmark_server bash ./unittest.sh
